.header  {
  font-family: monospace;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: rgb(0, 121, 10);
  background: rgb(0, 0, 0);
  padding: 4px 32px;
  display: flex;
  flex: 2 1 auto;
  justify-content: center;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-links {
  display: flex;
  flex: 1;
  justify-content:space-between;
}

.right-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

a {
  font-size: 22px;
  background: white;
  /* Gap between links */
  padding: 10px;
  margin: 10px;
  /* this removes the line under the links */
  text-decoration: none;
}